name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-24.05
      - name: Run tests
        run: nix run nixpkgs#emacs -- --batch -l npm-run.el -l npm-run-test.el -eval "(ert-run-tests-batch-and-exit)"
